body {
    text-align: center;
    background-color: lavender;
}
h1 {
  font-size: 50px;
  font-style: italic; 
  font: weight 5px;;
} 
p {
  font-size: 30px;  
  font-style: oblique;
  text-align: left;
}
h2 {
    font-size: 35px;
    font-style: inherit;
    text-align: left;
}